* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #eee;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #ddd;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {background-color: #2196F3;}
#AdminPanel {background-color: #ff5722;}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

